body {
  font-family: Montserrat, Fira Sans, Poppins, Inter, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--main-text-color);
  background-color: #010414;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
