<section id="faqs" class="faqs">
  <div class="faqs__container">
    <ul class="Button__list-faqs">
      <li class="Button__item-faqs">
        <button class="Button-faqs" type="button" id="button-1-faqs">
          <span class="Button--text">Стейкінг монети</span>
        </button>
        <div class="text-container-faqs-1"></div>
      </li>
      <li class="Button__item-faqs">
        <button class="Button-faqs" type="button" id="button-2-faqs">
          <span class="Button--text">Свапалка</span>
        </button>
        <div class="text-container-faqs-2"></div>
      </li>
      <li class="Button__item-faqs">
        <button class="Button-faqs" type="button" id="button-3-faqs">
          <span class="Button--text">Благодійний фонд</span>
        </button>
        <div class="text-container-faqs-3"></div>
      </li>
    </ul>
  </div>
</section>
