<footer  class="footer">
  <div class="footer__container">
    <h2 id="contacts" class="footer-title">Contact</h2>
    <address class="footer__address">
      <a class="footer__address--info" href="tel:123-456-7890">Tel: 123-456-7890</a> <br />
      <a class="footer__address--info" href="mailto:info@mysite.com">Email: info@mysite.com</a>
      <p class="footer__address--info">Address: 500 Terry Francois St. SF, CA 94158Contact</p>
    </address>
    <div class="footer__social--links">
      <ul class="footer__social--list">
        <li class="footer__social--item">
          <span class="footer__social--link-text">twitter</span>
          <a class="footer__social--link" href="">
            <svg class="link-icon-footer">
              <use href="../src/images/sprite.svg#twitter-icon"></use>
            </svg>
          </a>
        </li>
        <li class="social-links-items-footer">
          <span class="footer__social--link-text">discord</span>
          <a class="social-link-footer" href=" ">
            <svg class="link-icon-footer">
              <use href="../src/images/sprite.svg#discord-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
