<section class="section-header" id="top">
  <div class="container">
    <nav class="navigation" id="navigation">
      <a href="" class="header_icon"
        ><svg class="header_icon">
          <use href="../src/images/sprite.svg#icon-samboo-icon"></use>
        </svg>
      </a>
      <a href="" class="logo"
        ><svg class="header_icon-name">
          <use href="../src/images/sprite.svg#icon-samboo"></use>
        </svg>
      </a>

      <ul class="navigation-list">
        <li class="navigation-list-item">
          <a href="#home" class="navigation-list-link active-header">Home</a>
        </li>
        <li class="navigation-list-item">
          <a href="#whitePaper" class="navigation-list-link">White paper</a>
        </li>
        <li class="navigation-list-item">
          <a href="#roadmap" class="navigation-list-link">Road map</a>
        </li>
        <li class="navigation-list-item">
          <a href="" class="navigation-list-link">Partner</a>
        </li>
        <li class="navigation-list-item">
          <a href="#team" class="navigation-list-link">Team</a>
        </li>
        <li class="navigation-list-item">
          <a href="#faqs" class="navigation-list-link">FAQs</a>
        </li>
        <li class="navigation-list-item">
          <a href="#contacts" class="navigation-list-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
