<section id="roadmap" class="road__map">
  <div class="flex">
    <div class="buttons__container">
      <h2 class="road__map--title">Road-map</h2>
      <ul class="Button__list">
        <li class="Button__list--item">
          <button class="Button" type="button" id="button-1">
            <span class="Button--text">2022 Q1</span>
          </button>
        </li>
        <li class="Button__list--item">
          <button class="Button" type="button" id="button-2">
            <span class="Button--text">2022 Q2</span>
          </button>
        </li>
        <li class="Button__list--item">
          <button class="Button" type="button" id="button-3">
            <span class="Button--text">2022 Q3</span>
          </button>
        </li>
        <li class="Button__list--item">
          <button class="Button" type="button" id="button-4">
            <span class="Button--text">2022 Q4</span>
          </button>
        </li>
      </ul>
    </div>
    <div class="text-container">
      <p class="text__container--text visible-js" id="text-1">
        Проведення ІСО Запуск пулу ліквідності на децентралізованих свапалках Оптимізація додатку
        під браузерну версію Запуск стейкінгу
      </p>
      <p class="text__container--text" id="text-2">
        Розробка НФТ маркетплейсу Розпродаж перших 1000 НФТ-карток із зображенням героїв (для гри та
        мінтингу) Запуск реферальної програми Запуск можливості мінтінгу НФТ карток Розробка гри
        50/50 на блокчейні БСЦ Створення та поступове розширення мережі інфлюенцерів
      </p>
      <p class="text__container--text" id="text-3">
        Підписання контрактів з маркетинговими агентствами Залучення нових стратегічних партнерств
        Запуск гри 50/50 на блокчейні БСЦ Можливість апгрейту героїв (НФТ карток) Розробка додатку
        для iOS та Android Розпродаж 1000 НФТ-карток із зображенням героїв (для гри та мінтингу)
      </p>
      <p class="text__container--text" id="text-4">
        Розробка 2 гри Створення чату Лістинг монети на централізованій біржі Запуск 2 гри Запуск
        фонду для благодійної допомоги Розробка 3 гри Розпродаж 1000 НФТ-карток із зображенням
        героїв (для гри та мінтингу)
      </p>
    </div>
  </div>
</section>
