<section id="team" class="team">
  <h2 class="team__title">Our Team</h2>
  <ul class="team__container">
    <li class="team__list--item">
      <p class="team__list--name">Ernest</p>
      <img class="team__list--photocard" src="images/team/Ernest-1x.png" alt="asd" />
      <p class="teem__list--text">
        CEO and co-founder. Entrepreneur with long time experience in digital business,
        crowd-funding and project management.
      </p>
    </li>
    <li class="team__list--item">
      <p class="team__list--name">Ruslan</p>
      <img class="team__list--photocard" src="images/team/Ruslan-1x.png" alt="CEO" />
      <p class="teem__list--text">
        Executive director and co-founder. Experienced manager at senior positions of various
        companies. Currently running a retail company.
      </p>
    </li>
    <li class="team__list--item">
      <p class="team__list--name">Zheka</p>
      <img class="team__list--photocard" src="images/team/Zheka-1x.png" alt="CEO" />
      <p class="teem__list--text">
        Team’s analytisian, professional crypto adviser, NFT and ICO specialist.
      </p>
    </li>
    <li class="team__list--item">
      <p class="team__list--name">Anna</p>
      <img class="team__list--photocard" src="images/team/Anna-1x.png" alt="CEO" />
      <p class="teem__list--text">Graphic designer, painter and NFT-developer.</p>
    </li>
  </ul>
</section>
