<section id="whitePaper" class="section-whitePaper">
  <div class="container container-whitePaper">
    <h2 class="whitePaper-title">Game</h2>
    <p class="whitePaper-text">
      Ключовою інновацією нашої платформи є децентралізація в індустрії азартних ігор. Ми відходимо
      від концепції “казино завжди перемагає” до “завжди перемагає гравець”, а наша платформа буде
      лише посередником (біржею) між гравцями. Так, шанси на ваш успіх зростають до 50%.
    </p>
    <p class="whitePaper-text">
      Яким чином ми це зробимо? Ставки будуть парувaтися між собою, тобто, учасники грають одне
      проти одного. Якщо чиясь ставка не спарилась, то вона не братиме участь у грі. Це схоже на
      трейдинг на традиційних крипто-біржах, але замість передбачень на ціну токена, наші учасники
      ставлять на колір, карту чи інше.
    </p>
    <p class="whitePaper-text">
      А ще в нас будуть низькі комісії, - лише 1% за виграшну ставку. Холдери карток будуть мати
      бонуси: знижку від 1-10% на комісії у грі та аукціоні, в залежності від картки. Також власник
      картки, яка рандомно випала у вікторині, отримає 10% від комісії операції у грі.
    </p>
    <button class="whitePaper-button" type="button">
      <span class="whitePaper-text-button">More info NFT</span>
    </button>
  </div>
</section>
