.section-header {
  padding-top: 40px;
  padding-bottom: 10px;
  //   @media screen and (min-width: 1280px) {
  //     padding-top: 135px;
  //     padding-bottom: 120px;
  //   }
}
.section-whitePaper {
  padding-top: 225px;
  padding-bottom: 10px;
  //   @media screen and (min-width: 1280px) {
  //     padding-top: 135px;
  //     padding-bottom: 120px;
  //   }
}
.faqs {
  width: 1400px;
  
  margin-left: auto;
  margin-right: auto;
  
}

.section-metodo {
  padding-top: 80px;
  padding-bottom: 30px;
  //   @media screen and (min-width: 768px) {
  //     padding-top: 130px;
  //     padding-bottom: 35px;
  //   }
  //   @media screen and (min-width: 1280px) {
  //     padding-top: 125px;
  //     padding-bottom: 20px;
  //   }
}

.section-advantages {
  padding-top: 20px;
  padding-bottom: 110px;
  //   @media screen and (min-width: 768px) {
  //     padding-top: 35px;
  //     padding-bottom: 140px;
  //   }
  //   @media screen and (min-width: 1280px) {
  //     padding-top: 20px;
  //     padding-bottom: 140px;
  //   }
}

.section-gallery {
  padding-top: 20px;
  padding-bottom: 110px;
}

.section-gallery {
  padding-top: 20px;
  padding-bottom: 110px;
}
.section-gallery {
  padding-top: 20px;
  padding-bottom: 110px;
}
.section-gallery {
  padding-top: 20px;
  padding-bottom: 110px;
}
.section-gallery {
  padding-top: 20px;
  padding-bottom: 110px;
}
