.footer {
  width: 1920px;

  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(180deg, #010414 0%, rgba(1, 4, 20, 0) 100%),
    url(../images/footer/wallpaperbetter-1.jpg);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(180deg, #010414 0%, rgba(1, 4, 20, 0) 100%),
      url(../images/footer/wallpaperbetter-2x.jpg);
  }
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__container {
  width: 1425px;

  padding-top: 160px;
  padding-bottom: 120px;

  margin-left: auto;
  margin-right: auto;
}

.footer-title {
  font-family: 'CambriaMath';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  text-align: justify;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  margin-bottom: 180px;
}

.footer__address {
  width: 600px;
  height: 100px;

  margin-bottom: 470px;
}

.footer__address--info {
  font-family: 'AdonisCRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;

  color: #ffffff;
}


.footer__social--list {
  display: flex;
}

.footer__social--item:not(:last-child) {
  margin-right: 170px;
}

.footer__social--link-text {
  font-family: 'AdonisCRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;

  color: #ffffff;

  margin-right: 15px;
}

.social-link-footer {
  width: 24px;
  height: 20px;
}

.link-icon-footer {
  width: 24px;
  height: 20px;

  fill: #ffffff;
}
